PORT=3333
HOST=0.0.0.0
NODE_ENV=production
APP_KEY=p2gFTMgEDmE0K9CljuLA0I-abH0Yz62Y
APP_NAME=classcracker
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=classcracker
PG_PASSWORD=classcracker
PG_DB_NAME=classcracker
SCHOOL_NAME=Poudlard
CLIENT_ORIGIN=https://mydomain.tld
